html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* lato-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v24-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v24-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  html{
    box-sizing:border-box;
  }
  *, *::after{
    box-sizing: inherit;
  }
  body{
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color:#000000;
  }
  img{
    max-width: 100%;
    height:auto;
  }
  .wrapper_full{
    max-width: 1262px;
    margin:0 auto;
    padding: 0 15px;
  }

  
  /*header start*/
  .wrapper{
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    transition: .2s linear;
    padding-bottom: 20px;
    z-index: 99;
}
.header_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
}
.header_burger{
  width:40px;
  height: 28px;
  position: relative;
  display:none;
}
.burger_line{
  display:block;
  width:100%;
  height:2px;
background-color: #fff;
position: absolute;
left:0;
}
.burger_line_1{
top:0;
}
.burger_line_2{
  top:50%;
  transform:translateY(-50%);
  }
  .burger_line_3{
   bottom:0;
    }
.header_active{
  background: #0E1D28;
}
.header_list{
    display: flex;
    flex-wrap: wrap;
}
.header_item{
    margin-right: 82px;
}
.header_item:last-child{
    margin-right:0;
}
.header_nav{
  decoration: none;
}
.header_link{
    font-size:18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}
.header_link:hover, .header_link:focus, .header_link:active{
    opacity:75%;
}
 /*header end*/

  /*intro start*/
.intro{
    min-height: 100vh;
    background: url("../image/12.jpg") no-repeat center;
    background-size: cover;
    padding-top: 263px;
}
.intro_title{
    font-weight: 500;
    font-size:50px;
    line-height: 60px;
    color:white;
    max-width: 619px;
    margin-bottom: 22px;
}
.intro_subtitle{
  max-width: 546px;
  color: white;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 59px;
}
.search-form_info{
  display: flex;
  flex-wrap: wrap;
}
.search-form_field{
  background-color: transparent;
  background: url("../image/Oval.svg") no-repeat left 6px;
  background-size: 20px;
  border:0;
  border-bottom: 2px solid white;
  margin-right: 60px;
  width:297px;
  padding-left:43px;
  padding-bottom:22px;
  font-weight: 500;
  font-size:18px;
  color:white;
}
.search-form_field::placeholder{
  font-weight: 500;
  font-size:18px;
  color:white;
}
.search-form_submit{
  padding:15px 39px;
  text-transform:uppercase;
  font-weight:500;
  font-size:24px;
  background:#187dff;
  color:white;
  border:0;
}
.search-form_submit:hover,.search-form_submit:focus,.search-form_submit:active{
background:#0e66da ;
}
   /*intro end*/


   /*benefits start*/
   .benefits{
    padding-bottom: 139px;
   }
.benefits_wrap{
  max-width: 1262px;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0px 2px 20px rgba(21,24,36,0.16);
  position: relative;
}
.benefits_title{
  width: 100%;
  font-weight:500;
  font-size:35px;
  line-height: 42px;
  padding: 93px 100px 88px 100px;
  position:absolute;
  top:0;
  left:0;
  transform:translateY(-100%);
  background-color: #fff;
}
.benefits_cards{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 55px;
  padding: 0 100px;
}
.benefits_card{
  grid-column: span 1;
  margin-bottom: 112px;
}
.benefits_card-pic{
margin-bottom: 37px;
}
.benefits_card-thumb{
  display:block;
}
.benefits_card-title{
 font-weight: 500;
  font-size: 18px;
  line-height:24px;
  margin-bottom: 26px;
}
.benefits_card-desc{
  font-size:16px;
  margin-bottom: 39px;
}
.benefits_card-more{
  display:inline-block;
  padding-right: 59px;
  font-size: 16px;
  line-height: 24px;
  color:#006DFE;
  text-decoration: none;
  background:url("../image/Shape.svg") no-repeat 95% center;
transition: .2s all;
}
.benefits_card-more:hover, .benefits_card-more:focus, .benefits_card-more:active{
  background:url("../image/Shape.svg") no-repeat right center;
}
    /*benefits end*/

    /*place start*/
    .places{
      margin-bottom: 131px;
    }
    .section-title{
      font-weight:500;
      font-size:35px;
      line-height:42px;
      position:relative;
      padding-bottom: 10px;
    }
    .section-title::after{
      display: block;
      content:'';
      width:253px;
      height:3px;
      background-color: #006DFE;
      position: absolute;
      bottom: 0;
      left:0;
    }
    .places-caption{
      display:flex;
      flex-wrap:wrap;
      align-items:center;
      justify-content: space-between;
      margin-bottom: 36px;
    }
    .places_title{
      margin-right: 15px;
    }
.places_view-all{
  font-size:16px;
  color:#006DFE;
  text-decoration: none;
  padding-right: 59px;
  background:url("../image/Shape.svg") no-repeat right center;

}
.places_view-all:hover, .places_view-all:focus{
  opacity:.65;
}
.places_cards{
  display:grid;
  grid-template-columns: repeat(6,1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.places_card_size_lg{
  grid-column: span 3;
}
.places_card-pic{
  object-fit:cover;
  transition:.15s all;
}
.places_card{
  position:relative;
  overflow: hidden;
}
.places_card::after{
  display:block;
  content:'';
  width: 100%;
  height: 100%;
  background-color: rgba(21,24,36,0.4);
  position:absolute;
  top:0;
  left:0;
  z-index:2;
}
.places_card-title{
  font-size:50px;
  line-height:60px;
  color:white;
  position: absolute;
  bottom:27px;
  left:29px;
  z-index: 3;
}
.places_card:hover .places_card-pic{
  transform:scale(1.05);
}
.places_card-link{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  Height:100%;
  z-index: 4;
}
.places_card_size_lg{
  width:100%;
  height: 354px;
}
.places_card_size_sm{
  width:100%;
  height:283px;
  grid-column: span 2;
}

    /*place end*/

    /*Tours start*/
.tours{
  margin-bottom: 139px;
}
.tour_info{
  padding-left: 47px;
}
.tours_tour{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-column-gap: 0 108px;
align-items: center;
margin-bottom: 77px;
}
.tour_title{
 font-weight: 500;
 font-size: 30px;
 line-height: 40px;
 margin-bottom: 85px;
}
.tour_desc{
  font-size: 16px;
  line-height:24px;
  margin-bottom: 58px;

}
.tour_more{
  font-size:16px;
  color:#006DFE;
  text-decoration: none;
  padding-right: 59px;
  background:url("../image/Shape.svg") no-repeat right center;
}
.tour_more:hover, .tour_more:focus{
  opacity:.65;
}
    /*Tours end*/


    /*top start*/
.top{
  margin-bottom: 86px;
}
.top_title{
  margin-bottom: 54px;
}
.top_card{
  display: flex;
  flex-direction:column;
  grid-column:span 2;
}
.top_card-pic{
  position:relative;
  margin-bottom: 45px;

}
.top_cards{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 57px;
  grid-row-gap: 57px;
}
.top_card-stats{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  background: rgba(21,24,36,0.6);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 16px 25px;
  justify-content: flex-end;
}
.top_card-title{
  font-weight: 500;
  font-size: 18px;
  line-height:24px;
  color:#fff;
  margin: 0 auto 0 0;
}
.top_card-like{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color:#fff;
  padding-right: 20px;
  background:url(../image/heart.svg) no-repeat right;
margin-right: 14px;
}
.top_card-comment{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color:#fff;
  padding-right: 23px;
  background:url(../image/com.svg) no-repeat right;
}
.top_card-desc{
  font-size: 16px;
  list-style: 24px;
  margin-bottom: 31px;
}
.top_card-more{
  padding:12px 19px;
  background:#006DFE;
  text-decoration: none;
  color:#fff;
  font-size: 16px;
 width: 118px;
 margin:auto 0 0 0;
}
.top_card-more:hover, .top_card-more:focus, .top_card-more:active{
  background:#0e66da;
}
      /*top end*/

      /*video start*/
.video{
  width:100%;
}
.video_wrapper{
  max-width:1440px;
  margin:0 auto;
  position:relative;
}
.video_item{
  padding-top:56.25%
}
.video_element{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
       /*video end*/

       /*Footer start*/
.footer{
  background:#0e1d28 ;
padding: 119px 0;
}
.footer_item{
  display: flex;
  flex-wrap: wrap;
}
.footer_logo{
  width:50%;
}
.footer_nav{
  width:50%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer_menu-title{
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color:white;
}
.footer_menu-link{
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color:white;
  text-decoration: none;
}
.footer_menu-link:hover, .footer_menu-link:focus  ,.footer_menu-link:active{
  opacity: .75;
}
        /*Footer start*/

        /*media start*/
@media screen and (max-width:767px){
  .header_burger{
    display:block;
  }
  .header_nav{
    position: fixed;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    background-color: #000000;
    z-index: 10;
    padding: 75px;
    transform:translateX(100%);
  transition:.2s all linear;
  }
  .header_nav_active{
    transform: translateX(0);
  }
  .header_item{
    width:100%;
    margin-inline-start: 0;
  margin-bottom: 30px;
  }
  .header_item:last-child{
    margin-bottom: 0;
  }
  .header_link{
    font-size:42px;
    line-height:48px;
  }
  .header_nav-close{
    width:40px;
    height:40px;
    position:absolute;
    top:20px;
    right:20px;
    z-index: 11;
  }
  .header_nav-close-line{
    display:block;
    height:2px;
    background-color: #fff;
    position:absolute;
    top:50%;
  width:100%;
  }
  .header_nav-close-line:first-child{
    transform: translateY(-50%) rotate(45deg);
  }
  .header_nav-close-line:last-child{
    transform: translateY(-50%) rotate(-45deg);
  }
  .benefits_card{
    grid-column: span 3;
    margin-bottom: 40px;
  }
  .section-title{
    margin-bottom:25px;
  }

  .section-title::after{
    width:78px
  }
  .benefits_card-pic{
    margin-bottom: 20px;
  }
  .benefits_card-title{
    margin-bottom: 12px;
  }
  .benefits_card-desc{
    margin-bottom: 20px;
  }
  .benefits{
    margin-bottom: 36px;
  }
  .search-form_field{
    margin-right:0;
    width:100%;
    padding-bottom:12px;
    background: transparent url(../image/Oval.svg) no-repeat left 2px;
  }
  .search-form_field::placeholder{
    font-size:16px;
    padding-bottom:12px;
  }
  .intro{
    padding-top: 125px;
  }
  .intro_title{
    font-size:32px;
    line-height: 48px;
  }
  .intro_subtitle{
    font-size:14px;
  }
  .header_wrapper{
    padding-top: 28px;
  }
  .search-form_submit{
    width:100%;
  }
  .places_card_size_lg, .places_card_size_lg{
    height:230px;
  }
  .places{
    margin-bottom:76px;
  }
  .tour_pic, .tour_info{
    grid-column: span 2;
  }
  .tour_pic{
    margin-bottom:12px;
  }
  .tour_pic_mob-first{
    grid-row-start:-1;
  }
  .tours_tour{
      margin-bottom:50px
  }
  .tours{
    margin-bottom:76px;
  }
  .top_card{
    grid-column: span 6;
  }
  .top{
    margin-bottom:76px;
  }
  .footer_logo{
    width:100%;
    margin-bottom:24px;
  }
  .footer_nav{
    width:100%;
  }
  .footer_menu{
    width:50%;
    margin-bottom:24px;
  }
  .places_view-all{
    margin-bottom:25px;
  }
  .places-caption{
    margin-bottom: 0;
  }
  .top_card-stats{
    max-width:386px;
  }
}
@media screen and (max-width: 960px){
.header_nav{
  padding: 75px 30px;
}

}







@media screen and (max-width: 960px){
  .search-form_field{
    margin-bottom: 25px;
  }
  .benefits_cards{
    padding:0 15px;
    grid-column-gap: 35px;
  }
  bennefits_title{
    padding:55px 15px;
  }
  .benefits_wrap{
    box-shadow:none;
  }
  .places_card_size_lg{
    grid-column: span 6;
  }
  .places_card_size_sm{
    grid-column: span 6;
  }
  .tours_tour{
    grid-column-gap:35px;
  }
  .tour_info{
    padding-left:0;
  }
  .tour_title{
    margin-bottom:15px;
  }
  .tour_desc{
margin-bottom:15px;
  }
top_card{
  grid-column: span 3;
}
.top_cards{
  grid-column-gap:25px;
  grid-row-gap:55px;
}
  .top_card-pic{
    margin-bottom: 25px;
  }
  .footer{
    padding:60px 0;
  }
}
  

        /*media end*/